@import '~antd/dist/antd.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ScaryHalloween";
  font-weight: 400;
  src: url(/fonts/scary_halloween/Scary_Halloween.ttf);
 }

 @font-face {
  font-family: "HalloweenInline";
  font-weight: 400;
  src: url(/fonts/hallowen_inline/halloweninline.ttf);
 }

html{
    scroll-behavior: smooth;
}

.timer-wrapper {
    /* background-color: rgba(182, 179, 179, 0.8); */
    padding: 2rem;
    /* border: solid 1px white; */
    border-radius: 5px;
    z-index: 2;
  }
  
  .timer-inner {
    color: #333;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px #fff;
    padding: 2rem;
    background-color: rgba(256, 256, 256, 0.8);
    border-radius: 5px;
  }
  
  .timer-segment {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .divider,
  .time {
    font-size: 1.8rem;
  }
  
  .diver {
    padding: 0 1rem;
  }
  
  .label {
    font-size: 1rem;
  }