@import '~antd/dist/antd.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ScaryHalloween";
  font-weight: 400;
  src: url(/fonts/scary_halloween/Scary_Halloween.ttf);
 }

 @font-face {
  font-family: "montserrat";
  font-weight: 400;
  src: url(/fonts/petme128/PetMe128.ttf);
 }

html{
    scroll-behavior: smooth;
}
