html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* a {
  color: inherit;
  text-decoration: none;
} */

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px darkgrey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #015fce;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0747a6;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
